.row
  .col-xs-12
    = form_for @<%= singular_table_name %>, :html=> {class: "form-horizontal"} do |f|
      - if @<%= singular_table_name %>.errors.any?
        #error_explanation
          %h2= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:"
          %ul
            - @<%= singular_table_name %>.errors.full_messages.each do |msg|
              %li= msg

<% for attribute in attributes -%>
  <% if attribute.type.to_sym == :hstore -%>
    - hstore_field = f.object.send(:<%= attribute.name %>)
    - if hstore_field.nil? or hstore_field.length == 0
      .form-group
        .form-inputs
          .div.form-group
            = f.label :<%= attribute.name %> , class:'col-sm-3 control-label no-padding-right', for: 'form-field-1'
            .col-sm-9
              = f.text_area :<%= attribute.name %>, class: 'input-xxlarge'
      .space-4
    - else
      - f.object.send(:<%= attribute.name %>).try(:each) do |key, value|
        = f.fields_for :<%= attribute.name %> do |d|
          = render :partial => 'hstore_attributes' , :locals => { f: f, column: key, d: d, value: value }
    <% else -%>
      <% if :user==attribute.name.to_sym || :user_id==attribute.name.to_sym -%>

      = f.hidden_field :user_id,:value => current_user.id

      <% elsif :comment==attribute.name.to_sym -%>

      .form-group
        .form-inputs
          .div.form-group
            = f.label :<%= attribute.name %> , class:'col-sm-3 control-label no-padding-right', for: 'form-field-1'
            .col-sm-9
              = f.text_area :<%= attribute.name %>, class: 'input-xxlarge', :rows => '3', :cols => '80', placeholder: "輸入測試備註，以利查閱"
      .space-4

      <% else -%>

      .form-group
        .form-inputs
          .div.form-group
            = f.label :<%= attribute.name %> , class:'col-sm-3 control-label no-padding-right', for: 'form-field-1'
            .col-sm-9
              = f.text_field :<%= attribute.name %>, class: 'input-xxlarge'
      .space-4

      <% end -%>

  <% end -%>
<% end -%>

      .clearfix.form-actions
        .col-md-offset-3.col-md-9
          = f.submit 'Save', class: 'btn btn-info'
