- if notice
  %p.alert.alert-success= notice

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
    %th.center Field
    %th.center Value

<% for attribute in attributes -%>

  %tr
    %td.center= "<%= attribute.human_name %>"
    %td.center= @<%= singular_table_name %>.<%= attribute.name %>

<% end -%>

%h3.center
  = link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
  \|
  = link_to 'Back', <%= index_helper %>_path
